<!DOCTYPE html>
<html lang="en">
<head>
	<title>Bootstrap Example</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="panel-group" id="accordion">
    <div class="panel panel-default marginbottom5">
  		<div class="panel-heading" role="tab" id="headingOne">
        	<h4 class="panel-title" style="font-weight: 700;">
          		<a class="collapsed" role="button" data-toggle="collapse" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">1<span class="glyphicon glyphicon-chevron-down pull-right"></span></a>
        	</h4>
      	</div>
	  	<div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
	        <div class="panel-body" style="padding: 5px;">
	          	<div class="form-group" style="margin-top: 15px;">
	          		First Panel
	          	</div>
	        </div>
	  	</div>
    </div>

    <div class="panel panel-default marginbottom5">
		<div class="panel-heading" role="tab" id="headingTwo">
			<h4 class="panel-title" style="font-weight: 700;">
			  <a class="collapsed" role="button" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">2<span class="glyphicon glyphicon-chevron-down pull-right"></a>
			</h4>
		</div>
		<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
			<div class="panel-body" style="padding: 5px;">
				<div class="form-group" style="margin-top: 15px;">
					Second Panel
				</div>
			</div>
			<div class="panel-footer">
				<div class="btn-group" role="group">
					<button class="btn btn-default" type="button">
				  		<span class="glyphicon glyphicon-wrench"></span>&nbsp;Configuration
					</button>
				</div>
			</div>
		</div>
    </div>

    <div class="panel panel-default marginbottom5">
		<div class="panel-heading" role="tab" id="headingThree">
			<h4 class="panel-title" style="font-weight: 700;">
				<a class="collapsed" role="button" data-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">3<span class="glyphicon glyphicon-chevron-down pull-right"></a>
			</h4>
		</div>
		<div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
			<div class="panel-body">
				<div class="btn-group margintop10">
					<label class="btn btn-warning" ng-model="filterRadioModel" uib-btn-radio="'day'" style="padding-left: 6px; padding-right: 6px;">
						Day
					</label>
					<label class="btn btn-warning" ng-model="filterRadioModel" uib-btn-radio="'month'" style="padding-left: 6px; padding-right: 6px;">
						Month
					</label>
					<label class="btn btn-warning" ng-model="filterRadioModel" uib-btn-radio="'range'" style="padding-left: 6px; padding-right: 6px;">
						Range
					</label>
				</div>
				<div class="form-group margintop10">
					<label for="inputStartDate" class="control-label" style="padding-top: 5px;" translate>ここから</label>
					<div class="input-group date marginbottom5" id="datetimepickerStart">
						<input 
							type="text"
							class="form-control"
							style="border-radius: 4px;"
							id="inputStartDate"
							ng-model="dateStart"
							ng-disabled="filterRadioModel != 'range'"
							datetimepicker
							data-date-format="YYYY/MM/DD HH:mm:ss"/>
					</div>
					<label for="inputEndDate" class="control-label" style="padding-top: 5px;" translate>ここまで</label>
					<div class="input-group date marginbottom5" id="datetimepicker">
						<input
							type="text"
							class="form-control"
							style="border-radius: 4px;"
							id="inputEndDate"
							ng-model="dateEnd"
							ng-disabled="filterRadioModel != 'range'"
							datetimepicker
							data-date-format="YYYY/MM/DD HH:mm:ss"/>
					</div>
				</div>
				<div class="form-group margintop10">
					<label>
						<input type="checkbox"/>
							&nbsp;<span class="glyphicon glyphicon-folder-close"></span>
							&nbsp;<span style="font-weight: normal;">Checkbox</span>
				    </label>
				</div>
			</div>
  		</div>
    </div>

    <div class="panel panel-default marginbottom5">
		<div class="panel-heading" role="tab" id="headingFour">
			<h4 class="panel-title" style="font-weight: 700;">
				<a class="collapsed" role="button" data-toggle="collapse" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">4<span class="glyphicon glyphicon-chevron-down pull-right"></a>
			</h4>
		</div>
      	<div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
	        <div class="panel-body" style="padding: 5px;">
	        	<div class="form-group" style="margin-top: 15px;">
	          		<div ng-repeat="group in groups" class="checkbox">
			            Fourth Panel
	          		</div>
	   			</div>
	      	</div>
      	</div>
    </div>

    <div class="panel panel-default marginbottom5">
		<div class="panel-heading" role="tab" id="headingFive">
	        <h4 class="panel-title" style="font-weight: 700;">
	        	<a class="collapsed" role="button" data-toggle="collapse" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">5<span class="glyphicon glyphicon-chevron-down pull-right"></a>
	        </h4>
      	</div>
		<div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
	        <div class="panel-body" style="padding: 5px;">
				<div class="form-group" style="margin-top: 15px;">
					<div ng-repeat="category in categories" class="checkbox">
						<label>
							<input type="checkbox">Checkbox
						</label>
					</div>
				</div>
	        </div>
	        <div class="panel-footer">
				<div class="btn-group" role="group">
					<button class="btn btn-default pull-right" type="button">
						<span class="glyphicon glyphicon-wrench"></span>&nbsp;Configuration
					</button>
				</div>
	        </div>
		</div>
    </div>
</div>

</body>
</html>